<mat-progress-bar
  *ngIf="loading"
  class="progressBar"
  mode="indeterminate"
></mat-progress-bar>

<div class="dialog">
  <h1 mat-dialog-title>Add user</h1>
  <div mat-dialog-content>
    <!-- <form #contactForm="ngForm"> -->
      <p>
        <mat-form-field appearance="outline" class="mr-16">
          <mat-label>First Name</mat-label>
          <input
          [disabled]="loading"
            [(ngModel)]="user.firstName"
            matInput
            placeholder="First Name"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your first Name</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your last Name</mat-hint> -->
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="mr-16" class="full-width">
          <mat-label>E-Mail</mat-label>
          <input
          [disabled]="loading"
            [(ngModel)]="user.email"
            matInput
            placeholder="E-Mail"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your first Name</mat-hint> -->
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Birth Date</mat-label>
          <input
          [disabled]="loading"
            [(ngModel)]="birthDate"
            matInput
            placeholder="Birth Date"
            [matDatepicker]="picker"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your birth Date</mat-hint> -->
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Street</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your last Name</mat-hint> -->
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="mr-16">
          <mat-label>Zip Code</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your last Name</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Please enter your last Name</mat-hint> -->
        </mat-form-field>
      </p>
    <!-- </form> -->
  </div>

  <div mat-dialog-actions class="dialogBtns">
    <button [disabled]="loading" mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading" mat-raised-button color="primary" (click)="saveUser()">Save</button>
  </div>
</div>
